<?xml version="1.0"?>
<launch>
  <arg name="name" />
  <arg name="number" default="1" />
  <arg name="cf_num" default="0" />
  <arg name="frame" default="$(arg name)/base_link" />
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0.5" />
  <arg name="path" />
  <arg name="mode" default="2" />

  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
  </include>

 <include file="$(find crazyflie_teleop)/launch/hover_mocap.launch">
 	<arg name="name" value="$(arg name)" />
 	<arg name="number" value="$(arg number)" />
  <arg name="cf_num" value="$(arg cf_num)" />
  <arg name="path" value="$(arg path)" />
  <arg name="mode" value="$(arg mode)" />
  	<arg name="frame" value="$(arg frame)" />
  	<arg name="joy_dev" value="$(arg joy_dev)" />
  	<arg name="x" value="$(arg x)" />
  	<arg name="y" value="$(arg y)" />
  	<arg name="z" value="$(arg z)" />
 </include>

  <!-- run optitrack -->
  <include file="$(find mocap_optitrack)/launch/mocap.launch"/>
  <!-- run rviz -->
  <param name="robot_description" command="$(find xacro)/xacro.py $(find crazyflie_description)/urdf/crazyflie.urdf.xacro" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find crazyflie_teleop)/launch/crazyflie_pos.rviz" required="true" /><!--- NTS, can maybe change true to false, RVIZ not strictly neccesary? Just visualization -->

</launch>
