<?xml version="1.0"?>

<launch>
  <arg name="name" default="eff"/>

  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
  </include>

  <group ns="$(arg name)" >
    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="name" value="$(arg name)" />
    </include>
    <node name="test_2" pkg="crazyflie_teleop" type="test_2.py" output="screen"/>
  </group>

  <param name="/cf_list/$(arg name)" type="boolean" value="True"/> 

  <node name="wheel_command" pkg="crazyflie_teleop" type="wheel_command.py" />

  <node name="cf_selector" pkg="crazyflie_teleop" type="cf_selector.py">
  </node>
  
</launch>